html, body {
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
  color: white;
  font-family: 'Lato';
}

.bg-image {
  /* The image used */
  background-image: url("img/bg.jpg");
  
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1
 px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  width: 80%;
  padding: 20px;
  text-align: center;

}

.site-title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  z-index: 200;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

}

.search {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox {
  font-size: 14px;
  font-family: 'Lato';
  font-weight: 700;
  color: #d0d0d0;
  border: 2px solid #d0d0d0;
  border-radius: 15px;
  background-color: #d0d0d050;
  padding: 5px 7px 5px 7px;
  width: 25%;
  outline: 0;
  text-align: center;
}

input::placeholder {
    color: #d0d0d0;
}


.extension {
  font-size: 14px;
  font-family: 'Lato';
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #d1d9ff50;
  padding: 2px 7px 2px 7px;
  width: 25%;
  outline: 0;
  text-align: center;
}


.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  width: 100%;
  margin: auto;
  
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: 'Lato';
  text-align: center;
  padding: 1rem;
  color: white;
  background: transparent;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {  
  opacity: 70%;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  font-family: 'Lato';
  background: transparent;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: center;
}

.collapsible-content a {
  text-decoration: none;
  color: #d0d0d0;
}

.collapsible-content a:hover {
  background-color: #d0d0d050;
  transition: all 1s ease;
}

.content-inner {
  text-align: left;
}

.link {
  padding: 2px 7px 2px 7px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 5px 0 5px;
  background-color: white;
}

.highlight {
  padding: 2px 7px 2px 7px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 5px 0 5px;
  background-color: white;
}

.title {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Lato';
  color: white;
  z-index: 200;

  letter-spacing: 4px;
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;

}

.subtitle {
  padding: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Lato';
  opacity: 50%;
  z-index: 200;

  letter-spacing: 4px;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;

}

.subsubtitle {
  padding: 2px 7px 2px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #ebf4ff50;
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
  z-index: 200;
}

.grey {
  color: #d0d0d0;
  opacity: 100%;

}



button {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 5px;
  height: 60px;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 50px;
  color: #242424;
}

.footer {
  padding: 2px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Lato';
  color: #ffffff50;
  text-transform: uppercase;

  z-index: 200;
}

.footer a {
  color: #d0d0d0;
  text-decoration: none;
  text-transform: uppercase;

  margin-left: 10px;
  z-index: 200;
}

.footer a:hover {
  background-color: #d0d0d050;
  transition: all 1s ease;
}


@media (min-width: 320px) and (max-width: 1000px) {

  .subsubtitle, .searchbox {
    width: 40%;
    text-transform: uppercase;

    z-index: 200;
  }

  .title {
    font-size: 30px;
    text-transform: uppercase;

    z-index: 200;
  }
  
}